
    <div class="modal-header">
        <h3 class="modal-title">Create New Image</h3>
    </div>
    <div class="modal-body">
        <p>Choose type of image:</p>
        <div class="clearfix">
            <form class="clearfix" name="qs" novalidate>
                <a ng-click="ok(upload)" href="/#!/imgs/create/" class="col-sm-4"><center><span class="col-sm-12 glyphicon glyphicon-open-file" style="font-size:125px;"></span><br/>Upload Image</center></a>
                <a ng-click="ok(urlscreen)" href="/#!/imgs/pageCapture" class="col-sm-4"><center><span class="col-sm-12 glyphicon glyphicon-globe" style="font-size:125px;"></span><br/>Webpage Screenshot</center></a>
                <a ng-click="ok(urlimage)" href="/#!/imgs/urlCapture" class="col-sm-4"><center><span class="col-sm-12 glyphicon glyphicon-modal-window" style="font-size:125px;"></span>Image on Webpage</center></a>
            </form>
        </div>
    </div>
    <div class="modal-footer"></div>