<section data-ng-controller="ScrpbksController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Scrapbook</h1>
	</div>
	<div class="col-md-12">
		<form name="ScrpbkForm" class="form-horizontal" data-ng-submit="update(ScrpbkForm.$valid)" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && ScrpbkForm.title.$invalid}">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="scrpbk.title" id="title" class="form-control" placeholder="Title" required>
					</div>
					<div ng-show="submitted && ScrpbkForm.title.$invalid" class="help-block">
						<p ng-show="ScrpbkForm.title.$error.required" class="text-danger">Title is required</p>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && ScrpbkForm.content.$invalid}">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea name="content" data-ng-model="scrpbk.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content" required></textarea>
					</div>
					<div ng-show="submitted && ScrpbkForm.content.$invalid" class="help-block">
						<p ng-show="ScrpbkForm.content.$error.required" class="text-danger">Content is required</p>
					</div>
				</div>
				<hr/>
				<h3>Private Scrapbook</h3>
				<label for="private">Make this scrapbook private:</label>
				<switch id="private" name="private" ng-model="private" class="green"></switch>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>