<section data-ng-controller="ScrpbksController" data-ng-init="find()">
	<div class="page-header">
		<h1>Scrapbooks</h1>
	</div>
	<div class="row">
	  	<a data-ng-repeat="scrpbk in scrpbks" data-ng-href="#!/scrpbks/{{scrpbk._id}}" class="col-sm-6 col-md-4">
	    	<div class="thumbnail">
				<figure data-ng-init="findPrevImgs(scrpbk._id)">
					<img class="img-responsive" class="img-thumbnail" data-ng-src="{{imgs[scrpbk._id][0].uri}}" />
				</figure>
	      		<div class="caption">
	        		<h3 data-ng-bind="scrpbk.title"></h3>
	        		<p data-ng-bind="scrpbk.content"></p>
	        		<small class="list-group-item-text">
						Posted on
						<span data-ng-bind="scrpbk.created | date:'mediumDate'"></span>
						by
						<span data-ng-bind="scrpbk.user.displayName"></span>
					</small>
	      		</div>
	    	</div>
	  	</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="scrpbks.$resolved && !scrpbks.length">
		No scrapbooks yet, why don't you <a href="/#!/scrpbks/create">create one</a>?
	</div>
</section>