<section data-ng-controller="ScrpbksController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="scrpbk.title"></h1>
	</div>
	<!--<div class="pull-right" data-ng-show="authentication.user._id == scrpbk.user._id">
		<a class="btn btn-primary" href="/#!/scrpbks/{{scrpbk._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>-->
	<div data-ng-controller="ImgsController" data-ng-init="findScrpbk()">
		<ul data-ng-repeat="img in imgs">
			<li>
				<a data-ng-href="/#!/imgs/{{img._id}}">
					<figure>
						<img data-ng-src="{{img.uri}}" />
					</figure>
				</a>
			</li>
		</ul>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="scrpbk.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="scrpbk.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="scrpbk.content"></p>
</section>