<section data-ng-controller="ScrpbksController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="scrpbk.title"></h1>
	</div>
	<p class="lead" data-ng-bind="scrpbk.content"></p>
	<small class="list-group-item-text">
		Posted on
		<span data-ng-bind="scrpbk.created | date:'mediumDate'"></span>
		by
		<span data-ng-bind="scrpbk.user.displayName"></span>
	</small>
	<hr/>
	<div class="row" data-ng-init="findScrpbkImgs()">
	  	<div data-ng-repeat="img in imgs" class="col-sm-6 col-md-4">
	    	<div class="thumbnail">
	    		<a data-ng-href="/#!/imgs/{{img._id}}">
					<figure>
						<img class="img-responsive" data-ng-src="{{img.uri}}" />
					</figure>
				</a>
	      		<div class="caption">
	      			<h4 class="list-group-item-heading" data-ng-bind="img.orig_url"></h4>
					<p>
						<a class="btn btn-warning" role="button" href="/#!/scrpbks/{{scrpbk._id}}/edit">
							<i class="glyphicon glyphicon-edit"></i>&nbsp;edit
						</a>
						<a class="btn btn-danger" role="button" data-ng-click="remove();">
							<i class="glyphicon glyphicon-trash"></i>&nbsp;delete
						</a>
					</p>
	      		</div>
	    	</div>
	  	</div>
	</div>

</section>